@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

.page {
    background-image: linear-gradient(320deg,#03A63C, #027333 , #025939,  #012340);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-size: cover;
}

.formRegistro {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 60px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 0;
}

.formRegistro h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formRegistro p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
}

.formRegistro input{
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}

.formRegistro input:focus {
    border: 1px solid #0cf27f;
}

.formRegistro label {
    font-size: 14px;
    font-weight: 600;
}
.bnt {
    background-color: #4e886b;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
}

.bnt:hover{
    transform: scale(1.05);
    background-color: #06ff0e;
}