{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet"  href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <title> HOME </title>
 </head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="home.html" class="logo">
                <img src="{% static 'imgs/20240625_172008808(1).png' %}" alt="logo">
            </a>
            <a href="#" class="cep">CEP</a>
            <a href="#" class="promocoes">Promoções</a>
            <a href="#" class="categorias">Categorias</a>
            <div class="searchContainer">
                <span class="material-symbols-outlined">search</span>
                <input type="text" class="pesquiseBar" placeholder="Pesquisar...">
            </div>
            <a href="{% url 'login' %}" class="login" id="login">Login</a>
            <a href="#" class="perfil">Perfil</a>
            <div class="carrinho">
                <a href="index.html">
                    <span class="material-symbols-outlined">shopping_cart</span>
                </a>
            </div>
        </nav>
    </header>
<div class="maincontainer">
    <div class="containerdeproduto">
    <div class="container1">
        <!-- Produtos em Destaque -->
        <div class="product-wrapper">
            <button class="scroll-btn left" onclick="scrollContainer(-1, '.product-wrapper')">&#9664;</button>
            <div class="containerproduct">
                <h2>PRODUTOS EM DESTAQUE</h2>
                <div class="productimg">
                    <div class="produtonovo">
                        <img src="{% static 'imgs/asics metarise foto.jpg' %} " alt="Asics Metarise">
                        <div class="textop1">
                            <a href="Asics metarise.html">Asics Metarise</a>
                        </div>
                    </div>
                    <div class="produtonovo"> 
                        <img src="{%static 'C:\Users\HenriqueJoseAlvesDeL\Documents\tcc\Projeto-1\BACKEND\loja\static\imgs\lebronha.webp' %}" alt="Lebronha">
                        <div class="textop1">
                            <a href="lebronha.html">Lebronha</a>
                        </div>
                    </div>
                    <div class="produtonovo">
                        <img src="{% static 'imgs/precision 6.avif' %}" alt="Precision VI">
                        <div class="textop1">
                            <a href="precision 6.avif">Precision VI</a>
                        </div>
                    </div>
                    <div class="produtonovo">
                        <img src="{%static 'imgs/barata.webp' %}" alt="Barata de brinquedo">
                        <div class="textop1">
                            <a href="barata.webp">Barata de brinquedo</a>
                        </div>
                    </div>
                    <div class="produtonovo">
                        <img src="{%static 'imgs/0823740003-A.webp' %}" alt="Saguadin">
                        <div class="textop1">
                            <a href="#">Saguadin</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="scroll-btn right" onclick="scrollContainer(1, '.product-wrapper')">&#9654;</button>
        </div>
    </div>    
    <!---Texto sobre o site-->

    <!-- Produtos em Promoção -->
    <div class="container2">
        <div class="product-wrapper">
            <button class="scroll-btn left" onclick="scrollContainer(-1, '.container2 .product-wrapper')">&#9664;</button>
            <div class="containerproduct2">
                <h2>PRODUTOS EM PROMOÇÃO</h2>
                <div class="productimg">
                    <div class="produtonovo">
                        <img src="{%static 'imgs/nike-lebron-11-what-the.jpg' %}" alt="Lebron 11">
                        <div class="textop1">
                            <a href="nike-lebron-11-what-the.html">Lebron 11</a>
                        </div>
                    </div>
                    <div class="produtonovo">
                        <img src="{%static 'imgs/fly by mid.webp' %}" alt="Fly by Mid 3">
                        <div class="textop1">
                            <a href="fly-by-mid.html">Fly by Mid 3</a>
                        </div>
                    </div>
                    <div class="produtonovo">
                        <img src="{%static 'imgs/Kobe 5 bruce.png' %}" alt="Kobe 5 Proto Bruce Lee">
                        <div class="textop1">
                            <a href="Kobe bryan">Kobe Protro 5 Brucee Lee</a>
                        </div>
                    </div>
                    <div class="produtonovo">
                        <img src="{%static 'imgs/a-crianca-de-2-anos.jpg' %}">
                        <div class="textop1">
                            <a href="imgs/a-crianca-de-2-anos.jpg">Criança De 2 Anos</a>
                        </div>
                    </div>
                </div>

            </div>
            </div>
            <button class="scroll-btn right" onclick="scrollContainer(1, '.container2 .product-wrapper')">&#9654;</button>
        </div>
    </div>
    <div class="divtexto">
        <h2>Na Box Life, acreditamos que comprar pode ser mais do que uma simples transação; pode ser uma oportunidade para fazer a diferença. Nossa loja oferece uma ampla gama de produtos, desde itens do dia a dia até artigos especiais, todos selecionados com carinho para atender às suas necessidades e desejos.

            Mas a Box Life não é apenas sobre compras. Somos um grupo de jovens com um grande sonho: melhorar o mundo de forma prática e significativa. Por isso, integramos uma opção de doação diretamente em nosso site. Assim, além de adquirir produtos de qualidade, você pode escolher destinar uma parte do seu pagamento para ajudar instituições carentes.
            
            Nosso objetivo é unir a experiência de compra com a satisfação de contribuir para uma causa maior. A cada compra realizada, você tem a chance de apoiar projetos e organizações que fazem a diferença na vida de muitas pessoas. É simples: ao finalizar sua compra, você encontrará a opção de adicionar uma doação ao seu pedido. O valor pode ser ajustado conforme sua preferência e será destinado a instituições que trabalham com educação, saúde e bem-estar social.
            
            Na Box Life, acreditamos que cada pequeno gesto conta. Juntos, podemos transformar a maneira como compramos e ajudamos, tornando cada compra um passo em direção a um mundo mais justo e solidário. Junte-se a nós nessa missão e faça parte dessa mudança positiva.
            
            Explore nosso site, escolha seus produtos e, se puder, contribua para um futuro melhor. Afinal, cada caixa da Box Life carrega não só seus novos itens favoritos, mas também a esperança de um mundo melhor.
            
            </h2>
    </div>
</div>
    <script type="text/javascript" src="{%static 'javaS/index.js' %}"> </script>
</body>
</html>
