{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="home.html" class="logo">
                <img src="{% static 'imgs/20240625_172008808(1).png' %}" alt="logo">
            </a>
            <a href="#" class="cep">CEP</a>
            <a href="#" class="promocoes">Promoções</a>
            <a href="#" class="categorias">Categorias</a>
            <div class="searchContainer">
                <span class="material-symbols-outlined">search</span>
                <input type="text" class="pesquiseBar" placeholder="Pesquisar...">
            </div>
            <a href="{% url 'login' %}" class="login" id="login">Login</a>
            <a href="#" class="perfil">Perfil</a>
            <div class="carrinho">
                <a href="index.html">
                    <span class="material-symbols-outlined">shopping_cart</span>
                </a>
            </div>
        </nav>
    </header>
    <div class="divtexto">
        <div class="textodoacao">
            <h2> 
                Somos uma empresa feita da comunidade para comunidade.
                Doe para ajudar as familias que necessitam.
            </h2>
        </div>
    </div>
    
    <div class="container-flex">
        <div class="maincontainer">
            <div class="containerdeproduto">
                <div class="container1">
                    <!-- Produtos em Destaque -->
                    <div class="product-wrapper">
                        <button class="scroll-btn left" onclick="scrollContainer(-1, '.product-wrapper')">&#9664;</button>
                        <div class="containerproduct">
                            <div class="nome_produtos_destaque"><h2>Produtos em destaque</h2></div>
                            <div class="productimg">
                                <div class="produtonovo">
                                    <img src="{% static 'imgs/asics metarise foto.jpg' %}" alt="Asics Metarise">
                                    <div class="textop1">
                                        <a href="Asics metarise.html">Asics Metarise</a>
                                    </div>
                                </div>
                                <div class="produtonovo"> 
                                    <img src="{% static 'imgs/lebronha.webp' %}" alt="Lebronha">
                                    <div class="textop1">
                                        <a href="lebronha.html">Lebron away</a>
                                    </div>
                                </div>
                                <div class="produtonovo">
                                    <img src="{% static 'imgs/precision 6.avif' %}" alt="Precision VI">
                                    <div class="textop1">
                                        <a href="precision 6.avif">Precision VI</a>
                                    </div>
                                </div>
                                <div class="produtonovo">
                                    <img src="{% static 'imgs/barata.webp' %}" alt="Barata de brinquedo">
                                    <div class="textop1">
                                        <a href="barata.webp">Barata de brinquedo</a>
                                    </div>
                                </div>
                                <div class="produtonovo">
                                    <img src="{% static 'imgs/0823740003-A.webp' %}" alt="Saguadin">
                                    <div class="textop1">
                                        <a href="#">Giannis Imortality 3</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="scroll-btn right" onclick="scrollContainer(1, '.product-wrapper')">&#9654;</button>
                    </div>
                </div>    
                <!-- Produtos em Promoção -->
                <div class="container2">
                    <div class="product-wrapper">
                        <button class="scroll-btn left" onclick="scrollContainer(-1, '.container2 .product-wrapper')">&#9664;</button>
                        <div class="containerproduct2">
                            <h2>PRODUTOS EM PROMOÇÃO</h2>
                            <div class="productimg">
                                <div class="produtonovo">
                                    <img src="{% static 'imgs/nike-lebron-11-what-the.jpg' %}" alt="Lebron 11">
                                    <div class="textop1">
                                        <a href="nike-lebron-11-what-the.html">Lebron 11</a>
                                    </div>
                                </div>
                                <div class="produtonovo">
                                    <img src="{% static 'imgs/fly by mid.webp' %}" alt="Fly by Mid 3">
                                    <div class="textop1">
                                        <a href="fly-by-mid.html">Fly by Mid 3</a>
                                    </div>
                                </div>
                                <div class="produtonovo">
                                    <img src="{% static 'imgs/Kobe 5 bruce.png' %}" alt="Kobe 5 Proto Bruce Lee">
                                    <div class="textop1">
                                        <a href="Kobe bryan">Kobe Protro 5 Brucee Lee</a>
                                    </div>
                                </div>
                                <div class="produtonovo">
                                    <img src="{% static 'C:\Users\Henrique\Documents\Tcc\Projeto-1\BACKEND\loja\static\imgs\tipos-de-carro-hatch-new-city-hatchback.jpg' %}">
                                    <div class="textop1">
                                        <a href="C:\Users\Henrique\Documents\Tcc\Projeto-1\BACKEND\loja\static\imgs\tipos-de-carro-hatch-new-city-hatchback.jpg">Carro</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="scroll-btn right" onclick="scrollContainer(1, '.container2 .product-wrapper')">&#9654;</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Div slidestop ao lado do maincontainer -->
        <div class="slidestop">
            <img src="{% static 'C:\Users\HenriqueJoseAlvesDeL\Documents\tcc\Projeto-1\BACKEND\loja\static\imgs\ciencia-da-computacao-2.jpggit commit -m "Sua mensagem de commit aqui"
            ' %}" alt="Imagem">
        </div>
    </div>

    <!-- Novas linhas de produtos -->
    <div class="container-gerais">
        <div class="product-wrapper">
            
            <div class="containerproduct">
                <h2>CONHEÇA OUTROS PRODUTOS</h2>
                <div class="productimg">
                    <div class="produtonovo">
                        <img src="{% static 'imgs/exemplo1.jpg' %}" alt="Produto 1">
                        <div class="textop1">
                            <a href="#">Produto 1</a>
                        </div>
                    </div>
                    <div class="produtonovo">
                        <img src="{% static 'imgs/exemplo2.jpg' %}" alt="Produto 2">
                        <div class="textop1">
                            <a href="#">Produto 2</a>
                        </div>
                    </div>
                    <div class="produtonovo">
                        <img src="{% static 'imgs/exemplo3.jpg' %}" alt="Produto 3">
                        <div class="textop1">
                            <a href="#">Produto 3</a>
                        </div>
                    </div>
                    <div class="produtonovo">
                        <img src="{% static 'imgs/exemplo4.jpg' %}" alt="Produto 4">
                        <div class="textop1">
                            <a href="#">Produto 4</a>
                        </div>
                    </div>
                    <div class="produtonovo">
                        <img src="{% static 'imgs/exemplo8.jpg' %}" alt="Produto 5">
                        <div class="textop1">
                            <a href="#">Produto 5</a>
                        </div>
                </div>
                <div class="produtonovo">
                    <img src="{% static 'imgs/exemplo8.jpg' %}" alt="Produto 6">
                    <div class="textop1">
                        <a href="#">Produto 6</a>
                    </div>
            </div>
            
        </div>

        <div class="product-wrapper">
            
            <div class="containerproduct2">
                <h2>PRODUTOS</h2>
                <div class="productimg">
                    <div class="produtonovo">
                        <img src="{% static 'imgs/exemplo5.jpg' %}" alt="Produto 7">
                        <div class="textop1">
                            <a href="#">Produto 7</a>
                        </div>
                    </div>
                    <div class="produtonovo">
                        <img src="{% static 'imgs/exemplo6.jpg' %}" alt="Produto 8">
                        <div class="textop1">
                            <a href="#">Produto 8</a>
                        </div>
                    </div>
                    <div class="produtonovo">
                        <img src="{% static 'imgs/exemplo7.jpg' %}" alt="Produto 9">
                        <div class="textop1">
                            <a href="#">Produto 9</a>
                        </div>
                    </div>
                    <div class="produtonovo">
                        <img src="{% static 'imgs/exemplo8.jpg' %}" alt="Produto 10">
                        <div class="textop1">
                            <a href="#">Produto 10</a>
                        </div>
                    </div>
                    <div class="produtonovo">
                        <img src="{% static 'imgs/exemplo8.jpg' %}" alt="Produto 11">
                        <div class="textop1">
                            <a href="#">Produto 11</a>
                        </div>
                    </div>
                    <div class="produtonovo">
                        <img src="{% static 'imgs/exemplo8.jpg' %}" alt="Produto 12">
                        <div class="textop1">
                            <a href="#">Produto 12</a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
    <div class="navfooter">
<li><a href="#">FAQ</a></li>
<li><a href="#">Suporte</a></li>
<li><a href="#">SAC</a></li>
<li><a href="#">Ligue 0000-0000</a></li>
<li><a href="#">Informações sobre nós</a></li>
<li><a href="# ">Acessibilidade</a></li>
    </div>    


    <script type="text/javascript" src="{% static 'javaS/index.js' %}"></script>
    <script>
        document.querySelector('.divtexto').style.backgroundImage = "url('{% static 'imgs/home_natal_2024_banner_desktop_a-fome-machuca.jpg' %}')";
    </script>
</body>
</html>
