<div class="container">
<table>
    <tr>
        <th>id</th>
        <th>nome</th>
        <th>nascimento</th>
        <th>telefone</th>
        <th>email</th>
        <th>senha</th>
        <th>cep</th>
        <th>bairro</th>
        <th>rua</th>
        <th>numero da casa</th>
    </tr>
    {% for Usuario in usuarios %}
    <tr>
        <td>{{Usuario.id}}</td>
        <td>{{Usuario.nome}}</td>
        <td>{{Usuario.nascimento}}</td>
        <td>{{Usuario.telefone}}</td>
        <td>{{Usuario.email}}</td>
        <td>{{Usuario.senha}}</td>
    </tr>
    {% endfor %}
    {%for localizacao in Localizacao%}
    <tr>
        <td>{{Usuario.cep}}</td>
        <td>{{Usuario.bairro}}</td>
        <td>{{Usuario.rua}}</td>
        <td>{{Usuario.numero_casa}}</td>
    </tr>
    {% endfor %}
</table>
</div>