{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Usuario</title>
    <link rel="stylesheet"  href="{% static 'css/tela/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="profile">
              <div class="profile-header">
                <img src="user-image.jfif" alt="profile" class="profile-img">
                <div class="profile-text-container">
                    <div class="h1"><h1 class="profile-title">{{ request.user.username }}</h1></div>
                    
                    <p class="profile-email"></p>
                </div>
              </div>
              <div class="menu">
                <a href="#" class="menu-link">
                    <i class="fa-solid fa-circle-user"></i>
                    Account</a>
                <a href="#" class="menu-link">
                    <i class="fa-solid fa-bell"></i>
                     Notification</a>

                     <a href="{% url 'home' %}" class="btn-cancel">voltar</a>
              </div>
            {% if request.user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% endif %}

        </div>
        <form class="account">
            <div class="account-header">
                <h1 class="account-title"> Account Setting</h1>
                <div class="btn-container"> </div>
                <button class="btn-cancel"> Cancel</button>
                <button class="btn-save"> Save</button>
            </div>

            <div class="account-edit">
                <div class="input-container">
                    <label>Nome Completo</label>
                    <input type="text" placeholder="Nome Completo">
                </div>
                <div class="input-container">
                    <label>Nascimento</label>
                    <input type="date" placeholder="Data de Nascimento">
                </div>
            </div>

            <div class="account-edit">
                <div class="input-container">
                    <label>Telefone</label>
                    <input type="tel" placeholder="Telefone">
                </div>
            </div>
            <div class="account-edit">
                <div class="input-container">
                <label>Endereço</label>
                <input type="text" id="address" placeholder="insira seu endereço" class="input">
                
                </div>
            
            <div class="account-edit">
        <div class="input-container">
            <label>Bairro</label>
            <input type="text" id="bairro" placeholder="insira seu bairro" class="input">
        </div>
    </div>
        </div>
        <div class="account-edit">
        <div class="input-container">
            <label>Cidade</label>
            <input type="text" id="cidade" placeholder="insira sua cidade" class="input">
        </div>
    
    <div class="account-edit">
        <div class="input-container">
            <label>Nº e Complemento</label>
            <input type="" placeholder="numero e complemento">
        </div>
    </div></div>
    <div class="account-edit">
                    <div class="input-container">
                <span class="material-symbols-outlined">mail</span>
                <input type="email" placeholder="insira seu email">
            </div>
        </div>
        <div class="account-edit">
            <div class="input-container">
                <span class="material-symbols-outlined">lock</span>
                <input type="password" placeholder="insira sua senha">
            </div>
        </div>
            </div>
        </div>
        
        </form>
    </div>  
</body>
</html>